<head>
    <title>InClass3 - Chris Evans</title>
    <%- include('../shared/head') %>
</head>
<body>
    <div class="container">
        <h1 class="mb-3">Chris Evans Profile</h1>
        
        <img class="mb-3" src="images/Chris_Evans_2023.jpg" width="300" height="450" alt="Image of Chris Evans"/>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Fantastic Four</td>
                    <td>as Human Torch</td>
                </tr>
                <tr>
                    <td>TMNT</td>
                    <td>as Casey Jones</td>
                </tr>
                <tr>
                    <td>Scott Pilgrim vs. the Worlds</td>
                    <td>as Lucas Lee</td>
                </tr>
                <tr>
                    <td>Captain America: The First Avenger</td>
                    <td>as Captain America</td>
                </tr>
                <tr>
                    <td>The Avengers</td>
                    <td>as Captain America</td>
                </tr>
                <tr>
                    <td>Snowpiercer</td>
                    <td>as Curtis Everett</td>
                </tr>
                <tr>
                    <td>Gifted</td>
                    <td>as Frank Adler</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>