<head>
    <title>InClass4 - Subscribed</title>
    <%- include("../shared/head") %>
    <link rel="stylesheet" href="css/newsletter.css">
</head>
<body>
    <div class="container">
        <img class="rounded" src="images/ow2-subscribed.avif" width="1296" alt="Image of Overwatch 2 Title Logo">

        <p class="text-center fs-2"><%= fullName %>, Thank you for subscribing to our newsletter.</p>
        <%- include("../shared/footer") %>
    </div>
    <%- include("../shared/scripts") %>
</body>