<head>
    <title>BookFace</title>
    <%- include('../shared/head') %>
</head>
<body>
    <div class="container">
        <h1>BookFace</h1>

        <p><a class="link-primary" href="/login">Login</a></p>
        <p><a class="link-primary" href="/secret">Secret Newsfeed</a></p>


        <h6>Public Newsfeed</h6>

        <p>Elephant: Hello, how are you?</p>
        <p>Ant: I am good!</p>
        <p>Lion: ROARRRRR</p>

        <%- include('../shared/footer') %>
    </div>
    <%- include('../shared/scripts') %>
</body>