<head>
    <title>Secret · BookFace</title>
    <%- include('../shared/head') %>
</head>
<body>
    <div class="container">
        <h1><%= username %>, SSSShhhhhhhh....</h1>

        <p><a class="link-primary" href="/">Public Newsfeed</a></p>
        <p><a class="link-primary" href="/logout">Logout</a></p>

        <h6>Secret Newsfeed</h6>

        <p>Lion: Elephant is dating Ant!</p>
        
        <%- include('../shared/footer') %>
    </div>
    <%- include('../shared/scripts') %>
</body>